@CHARSET "UTF-8";

.red {
	color:#890611;
}

.f14 {
	font-size:14px;
}

body {
	margin:0px;
	padding:0px;
	background-image:URL(./images/tlo.jpg);
	font-family: _deComic, "Comic Sans MS";
	font-size:14px;
	color:#2F190E;
}

img {
	border:0px;
}

form {
	margin:0px;
	padding:0px;
}

a {
	color:#2F190E;
	text-decoration:none;
}

a:HOVER {
	text-decoration:underline;
}

#main {
	width:922px;
	margin:auto;
}

#help {
	width:1000px;
	margin:auto;
}

h1 {
	font-size:24px;
	padding:0px;
	margin: 6px 0px 6px 0px;
}

/**Lewy panel*******************************************************************************************************/

#help #left {
	width:250px;
	float:left;
	position:relative;
	left:3px;
}

#help #left a {
	color:#2F190E;
	text-decoration:none;
}	

#help #left a:HOVER {
	color:#1b5f00;
}

#help #left #selected a {
	color:#1b5f00;
	text-decoration:none;
}	

#help #left #selected a:HOVER {
	color:#1b5f00;
}

#help #left .item1 {
	font-size:18px;
}

#help #left .item2 {
	font-size:16px;
	padding-left:30px;
}


/**Prawy panel*******************************************************************************************************/

#help #right {
	width:750px;
	float:left;
}

#help #right a {
	color:#1b5f00;
	text-decoration:none;
}

#help #right a:HOVER {
	color:#1b5f00;
}

#help #right p {
	line-height: 140%;
}

#help #right .submenu {
	font-size:18px;
}

.highlight {
	font-size:16px;
	color:#87020E;
}

#help #right .big {
	font-size:16px;
}


#help #right .img_comment {
	margin-top:2px;
}

th {
	font-size:18px;
	padding-bottom:8px;
	font-weight:normal;
}

td.odd {
	background-image: url(./images/table/pasek_l.jpg);
	background-repeat: repeat-y;
	background-position: right;
	padding:8px 6px 5px 4px;
	font-size:16px;
	vertical-align: top;
}

td.even {
	background-image: url(./images/table/pasek_r.jpg);
	background-repeat: repeat-y;
	background-position: right;
	padding:8px 6px 5px 4px;
	font-size:18px;
	vertical-align: top;
}

td.last {
	padding:8px 0px 0px 4px;
}

.separator {
	height:5px;
	width:720px;
	position:absolute;
	background-image:url(./images/table/sep.png);
	margin-top:-12px;
	margin-left:-4px;
}

#help #right a.black {
	color:#2F190E;
	text-decoration:none;
}

#help #right a.black:HOVER {
	color:#87020E;
	text-decoration:none;
}


/**Strona główna*****************************************************************************************************/

#main #content {
	height:586px;
	width:890px;
	background-image:url(./images/glowna/podklad.jpg);
	vertical-align: top;
}

#main #content #desc {
	float:right;
	clear:both;
	width:251px;
	height:305px;
	margin-top:10px;
	margin-right:10px;
	/*background-color:red;*/
}

#main #content #login {
	float:right;
	clear:both;
	width:356px;
	height:130px;
	margin-top:1px;
	margin-right:10px;
	/*background-color:green;*/
}

#main #popup {
	width:922px;
	height:618px;
	position:absolute;
	/*background-color:red;*/
	top:0px;
	z-index:100;
}

#main #popup #game_dialog {
	margin:auto;
	margin-top:50px;
	width:400px;
	/*background-image:url(./images/tlo.jpg);*/
}

#main #content #pictures {
	float:right;
	clear:both;
	width:356px;
	height:130px;
	margin-right:10px;
}

#main_menu {
	width:834px;
	height:23px;
	background-image:url(./images/menu.jpg);
	margin:auto;
	margin-bottom:10px;
	font-size:14px;
}

#games {
	width:796px;
	margin:auto;
}

#news {
	width:796px;
	margin:auto;
	clear:both;
	padding-top:20px;
	padding-bottom:30px;
}


div.game {
	width:391px;
	height:135px;
	background-image:url(./images/gry/gra.jpg);
	float:left;
	margin-bottom:8px;
	cursor: pointer;
	cursor: hand;
}

div.game_decorator {
	width:387px;
	height:131px;
	background-image:url(./images/gry/cien.png);
	position:absolute;
	margin:2px;
}

div.vanish {
	width:0px;
	height:0px;
}

div.game_sep {
	width:14px;
	float:left;
}

div.box {
	width:121px;
	height:27px; 
	background-image:url(./images/glowna/box.jpg);
}

input.box {
	background-color:transparent;
	border:0px;
	width:113px;
	margin-top:4px;
	padding-left:5px;
	padding-right:3px;
}

div.ramka {
	width:105;
	height:107;
}

div.backbutton {
	float: right;
}

div.navbar a {
	float: left;
}

